<div className="book">
    <div>
        <img height="150px" width="100px" src="<%= book.coverPath %>" alt="book cover">
    </div>
    <div>Title: <%= book.title %></div>
    <div>Author: <%= book.author.name %></div>
    <div>Publish Date: <%= book.publishDate.toDateString() %></div>
    <div>Page Count: <%= book.pageCount %></div>
    <div>Description: <%= book.description %></div>
    
    <a href="/books/<%= book.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/books/${book.id}`}) %>
</div>

